<h1>Inbox</h1>
<ul class="emails-list">
  <li class="emails-list__item">
    <span class="emails-list__item__read-icon material-symbols-outlined">
      mark_email_unread
    </span>
    <img class="emails-list__item__image" src="assets/nico.JPG" />
    <p class="emails-list__item__from">Nico</p>
    <p class="emails-list__item__content">
      Link to today's video and slides is up!
    </p>
  </li>
</ul>

<!-- email - read version -->
<li class="emails-list__item read">
  <span class="emails-list__item__read-icon material-symbols-outlined">
    mark_email_read
  </span>
  <img class="emails-list__item__image" src="assets/nico.JPG" />
  <p class="emails-list__item__from">Nico</p>
  <p class="emails-list__item__content">
    Link to today's video and slides is up!
  </p>
</li>
