<section class="single-email">
  <button class="single-email__button">⬅Back</button>
  <div class="single-email__sender-section">
    <img class="single-email__image" src="assets/nico.JPG" />
    <span class="single-email__sender">Nico (nico@email.com)</span>
  </div>
  <h1 class="single-email__header">Link to today's video and slides is up!</h1>
  <p class="single-email__content">
    Link is up and you know where to find it! Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Adipisci quo et assumenda voluptas blanditiis
    incidunt quia in, accusamus, qui voluptatem porro. Est reiciendis cum a
    architecto earum voluptatibus vel atque.
  </p>
</section>
